<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="/DevGUI/ssf.launch"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DevGUI/src/main/java/ca/site3/ssf/devgui/DevGUIMainWindow.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ca.site3.ssf.devgui.DevGUIMainWindow"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-s /dev/master -log 3"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DevGUI"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dapple.laf.useScreenMenuBar=true -Dgnu.io.rxtx.SerialPorts=/dev/master -Xmx1024M -Xdock:name=&quot;Super Street Fire&quot;"/>
</launchConfiguration>
